<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style>
h1 {
    color: black;
    text-align: left;
}
p {
    color: black;
    text-align: left;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(/static/form.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

</style>
<div class="jumbotron">
<form method='post' action = '/comment' enctype="multipart/form-data">
  Image: <input type="file" name='image' accept="image/*" capture="camera" />
  Name: <input type='text' name='name' id='name' /><br><br>

  Email: <input type='text' name='email' id='email' /><br><br>

  Comment:<br>
  <textarea name='comment' id='comment'></textarea><br><br>

  <input type='submit' value='Submit' />
</form>
</div>
<br><br><br><br><br><br><br>
</html>
