<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<style>
h1 {
    color: black;
    text-align: left;
}
p {
    color: black;
    text-align: left;
}
.jumbotron {
    margin-bottom: 0px;
    background-image: url(/static/CSUMontereyBay.png);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

</style>
<div class="jumbotron">
  <h1>California State University, Monterey Bay</h1>      
  <p> Statistics:</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  to keep the page from shorting out
</div>
</body>
</html>